.navbar {
  background-color: #c2dAd5;
  height: 70px;
  border-bottom: 2px solid #fff;
}

.links {
  align-items: center;
  display: flex;
  height: 100%;
  padding: 20px 60px;
}

.link + .link {
  margin-left: 40px;
}

:global(.active) {
  border-bottom: 1px solid #fff;
}

@media (max-width: 1024px) {
  .navbar {
    height: 45px;
  }

  .links {
    padding: 15px 50px;
  }
}

@media (max-width: 480px) {
  .navbar {
    height: 40px;
  }

  .links {
    padding: 10px 40px;
  }
}
