.movie {
  border: 1px solid white;
  flex: 0 1 20%;
  margin: 10px;
  padding: 5px;
  text-align: center;
  text-transform: capitalize;
  transition: all .3s ease-in-out;
}

.movie:hover {
  background-color: #333;
  color: #fff;
  cursor: pointer;
}

.list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 1024px) {
  .movie {
    flex: 0 1 48%;
    margin: 5px;
  }
}

@media (max-width: 580px) {
  .movie {
    flex: 0 1 100%;
    margin: 6px;
    padding: 4px;
  }
}
