* {
  box-sizing: border-box;
}

body {
  color: #333;
  font-family: 'Sunflower', sans-serif;
}

body,
ul,
h2,
p,
a {
  color: #333;
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}
